/* .about-container{
  margin-left: 4rem;
}

.bio{
  margin-left: 6rem;
  margin-right: 6rem;
 
}

.skills-box{
  margin-left: 4rem;
  margin-right: 4rem;
}

.mr-t{
  margin-top: 5rem;
}

.skill-title{
  justify-content: center;
  align-items: center;
} */