.main{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/dbackground.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}