
.navStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    /* background: linear-gradient(to right, #ff6b6b, #ffa07a); */
    height: 100vh;
    width: 5rem;
    margin: 0 1rem;
    color: black;

  }
  .contact-links{
    display: flex;
    flex-direction: row;
  }

  .links {
    margin-top: .3cm;
    margin-bottom: .3cm;
  }



a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s;
}

a:hover {
  /* color: #ffcc00; */
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #ffcc00; */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

a:hover::after,
a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

