.container{
  margin-left: 4rem;
  width: 100%;
}

.button-container{
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  position: sticky;
}

.button-gradient{
  background-color: bisque;
}

/* .mr-t{
  margin-top: 5rem;
} */