/* .container{
  margin-left: 4rem;
  width: 100%;
}

.button-container{
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  position: sticky;
}

.button-gradient{
  background-color: bisque;
} */

/* .mr-t{
  margin-top: 5rem;
} */
.z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.bg-clr{
  background-color: #E1E8ED;
}
