footer{
    display: flex;
    border-top: .2rem solid black;
   height: 10rem;
    justify-content: center;
    align-items: center;
    bottom: 0;
    /* position: fixed; */
    padding: 1rem;
}
.img {
    width: 2cm;
    height: auto;
}
