body {
    margin: 0, auto;
    background-color: whitesmoke;
    color: black;
  }

.App {
  display: flex;
  flex-direction: column;
}

.home {
  background: url('./assets/images/puzzle.jpg') center/cover;
}

.about{
padding-bottom: 3rem;
}

.projects{
  background: url('./assets/images/puzzle.jpg') center/cover;
  padding-bottom: 3rem;
}

.contact{
  background-color: rgb(234, 88, 12);
}
.ed{
  /* background-color: rgb(234, 88, 12); */
}